<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iMoney - <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/navbar-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">
    <link rel="stylesheet" href="/stylesheets/form-style.css">
    <link rel="stylesheet" href="/stylesheets/component-style.css">
    <link rel="stylesheet" href="/stylesheets/table-style.css">
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>