<div class="footerDiv">
    <p>&copy; 2025 iMoney. All rights reserved.</p>
    <p>Follow us on:
        <a class="footerA" href="https://www.facebook.com/iMoney" target="_blank">Facebook</a> |
        <a class="footerA" href="https://www.twitter.com/iMoney" target="_blank">Twitter</a> |
        <a class="footerA" href="https://www.instagram.com/iMoney" target="_blank">Instagram</a>
    </p>
</div>